params {

    // Reads and references
    samples = "s3://my-bucket-name/data/test_groups/"
    ref_genome = "s3://my-bucket-name/references/genome_mm9.fa"
    ref_index  = "s3://my-bucket-name/references/genome_mm9.fa.fai"
    ref_dict   = "s3://my-bucket-name/references/genome_mm9.dict"
    group_labels = "$projectDir/samples.csv"

    // Directories
    outdir = "s3://my-bucket-name/results/"

}

profiles {

    conda {
        conda.enabled = true
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    aws {
        process {
            executor = 'awsbatch'
            queue    = 'my-awsbatch-queue'
            awsregion = 'us-east-1'
            container = '123456789012.dkr.ecr.us-east-1.amazonaws.com/my-pipeline:latest'

            withLabel: process_single {
                cpus = 1
                memory = '2 GB'
                time = '1h'
            }

            withLabel: process_low {
                cpus = 4
                memory = '8 GB'
                time = '4h'
            }

            withLabel: process_medium {
                cpus = 8
                memory = '16 GB'
                time = '8h'
            }

            withLabel: process_high {
                cpus = 16
                memory = '32 GB'
                time = '16h'
            }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $awsbatch {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}

// resume = true
