params {

    // Reads and references
    samples = "/projectnb/wax-es/JackS/G221/test_groups/"
    ref_genome = "/projectnb/wax-es/JackS/genome_mm9.fa"
    ref_index = "/projectnb/wax-es/JackS/genome_mm9.fa.fai"
    ref_dict = "/projectnb/wax-es/JackS/genome_mm9.dict"
    group_labels = "$projectDir/samples.csv"

    // Directories
    outdir = "$projectDir/results/"

}

profiles {
    conda {
        conda.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P <lab_code>'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

executor {
    $sge {
        queueSize = 17
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
//resume = true
